.Female span.light, span.reaction.light.Female{
  color: #AC7B84;
}

.Female .user-handle{
  color:rgb(213, 197, 236)
}

small.light.Female, p.light.Female{
  color: #5D576B
}

article.Female {
  background-color: rgb(255, 238, 247);
}

.Female.tweet:hover {
  box-shadow: 10px 10px 20px rgb(253, 204, 232);
}