/* Base styles for mobile-first design */
main {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Responsive design for tablets */
@media (min-width: 768px) {
  .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .profile-card {
    text-align: left;
  }

  .new-tweet {
    width: 70%;
    margin: 0 auto;
  }

  #tweets-container {
    width: 70%;
    margin: 0 auto;
  }
}

/* Responsive design for desktops */
@media (min-width: 1024px) {
  .profile-header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start; /* Align header to the left */
    width: 30%;
  }

  .profile-card {
    text-align: left;
  }

  .new-tweet {
    flex: 1;
    margin-left: auto; /* Align tweet form to the right */
    width: 60%;
  }

  #tweets-container {
    flex: 2;
    margin-left: 20px;
  }
}
