.Male span.light, span.reaction.light.Male{
  color: #467A87;
}

.Male .user-handle{
  color:#9AB1E2
}

small.light.Male, p.light.Male{
  color: #5D576B
}

article.Male {
  background-color: rgb(241, 250, 255);
}

.Male.tweet:hover {
  box-shadow: 10px 10px 20px rgb(185, 223, 247);
}