#tweet-container{
  width: 100%;
}

input, span {
  font-family: 'Bungee', sans-serif;
}

input {
  background-color: rgb(166, 169, 201);
  color: #ffffff;
  padding: 8px;
  border-radius: 5px;
}
input:hover{
  cursor: pointer;
  outline: none;
  animation: enlarge 2s infinite
}

@keyframes enlarge{
  0% {padding: 8px}
  50% {padding: 13px}
  100% {padding: 8px}
}

textarea {
  border-bottom: 5px solid #5E6572 ;
  border-top: none;
  border-right: none;
  border-left: none;
  resize: none;
  background-color: #EEE8F9;
  width: 100%;
  height: 55px;
  font-weight: 600;
}

textarea:focus {
  outline: none;
}

.new-tweet{
  margin-bottom: 100px;
}


.counter {
  float: right;
  margin-top: 15px;
}

[type="submit"] {
  border: none;
  margin-top: 15px;
}