@media only screen and (min-width: 1024px) {

  nav{
    background-color:rgb(238, 209, 192);
  }

 body {
   display: flex;
 } 

 header {
  place-self: flex-start;
  border-radius: 50px;
 }

header#profile{
  position: sticky;
  top: 300px;
  background-size: 50% 50%;
  margin-right: 8em;
  margin-left: 8em;
}

 .container{
   position: initial;
   transform: initial;
   margin-top: 150px;
   margin-right: 3em;
 }
 .new-tweet{
   margin-top: 25px;
   display: block !important;
 }
}